@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black  overflow-x-hidden text-white;
}

@font-face {
  font-family: Glusp;
  src: url('./fonts/OTF®\ Glusp.ttf');
}

@font-face {
  font-family: Sora-ExtraLight;
  src: url('./fonts/Sora-ExtraLight.ttf');
}
@font-face {
  font-family:Sora-Medium;
  src: url('./fonts/Sora-Medium.ttf');
}

.flip-on-hover {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.flip-on-hover:hover {
  transform: rotate(180deg);
}